@font-face {
    font-family: Epilogue;
    src: url('../fonts/Epilogue/Epilogue-VariableFont_wght.ttf');
}

@font-face {
    font-family: Outfit;
    src: url('../fonts/Outfit/Outfit-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit';
    box-sizing: border-box;
}

.fa-desktop,
.fa-server,
.fa-code,
.fa-wrench {
    color: #EF183F;
}

ul {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 6rem;
    font-weight: bolder;
}

h2 {
    color: #EF183F;
    font-weight: bold;
    cursor: pointer;
}

body {
    background-color: rgba(2, 0, 36, 1);
}

section {
    height: 100vh;
    color: #fff;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: relative;
    display: flex;
    padding: 30px 100px 30px 100px !important;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
}

.button {
    width: 150px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 75px;
    border: none;
    background: linear-gradient(to right, #EF183F, #9B36CA);
    box-shadow: inset 0px -4px 10px 0px #212529;
}

.theme-color {
    color: #EF183F;
}

#home {
    background: linear-gradient(139deg, rgba(239, 24, 63, 1) 0%, rgba(2, 0, 36, 1) 35%);
    text-shadow: -5px 2px 15px black;
}

.img-sec {
    position: relative;
}

.img-sec img {
    position: absolute;
    top: -26px;
    left: 60px;
    max-height: 600px;
}

#home .icon {
    margin-right: 10px;
}

.social-media ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px;
}

#about .content {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 82px 0px;
}

#about .content p {
    line-height: 2.5em;
    font-size: 1.2em;
}

#about .comm-btn {
    display: flex;
    justify-content: space-evenly;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between
}

.my-skill {
    width: 12rem;
    color: #000;
    background-color: #fff;
    border-radius: 15px;
}

.my-skill img {
    width: 3rem;
}

#expertise ul li {
    list-style-type: none;
}

#experience {
    display: none;
}

#experience .company-content ul {
    list-style: none;
    padding: 0;
}

#experience .company-content li {
    padding-left: 1.6em;
    line-height: 40px;
}

#experience .company-content ul li:before {
    content: "\f197";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 0.5em;
}

input[type="range"] {
    width: 300px;
    height: 3.5px;
    /* outline: none; */
}

.line {
    width: 3.5px;
    height: 300px;
    border-radius: 30px;
    background-color: #EF183F;
}


.slider {
    /* width: 10px;
    height: 44px;
    border-radius: 50px;
    background-color: #EF183F; */
    position: absolute;
    transform: translate(-50%, 500%) rotate(90deg);
}

.cmny-btn {
    display: block;
    margin: 10px;
}

.role {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}



.contact {
    margin-top: -20px !important;
}

.contact label {
    float: left;
}

.contact .form-control {
    margin-bottom: 20px;
    border: 1px solid #cbcbcb;
    height: 45px;
}

.form-group {
    margin-top: 2em !important;
}

.contact textarea.form-control {
    height: 310px;
}

/* 320px (iPhone) */
@media screen and (max-width:414px) {

    .skills {
        display: flex;
        justify-content: space-between
    }

    .my-skill {
        width: 6rem;
    }

    .my-skill p {
        display: none;
    }
}

/* 480px (WVGA - Low End Windows Phone) */
@media screen and (max-width:480px) {

    .skills {
        display: flex;
        justify-content: space-between
    }

    .my-skill {
        width: 6rem;
    }

    .my-skill p {
        display: none;
    }
}

/* 768px (WVGA - Ipad mini) */
@media screen and (max-width:768px) {

    .skills {
        display: flex;
        justify-content: space-between
    }

    .my-skill {
        margin-top: 2rem;
        width: 6rem;
    }

    .my-skill p {
        display: none;
    }
}

/* 900px (WVGA - Low End Windows Phone) */
@media screen and (max-width:900px) {}


/* xGA iPad */
@media screen and (max-width:1024px) {}

/* 1200px (Small Desktop,Netbook) */
@media screen and (max-width:1280px) {}

/* Bootstrap 1024px Breakpoint to 320px */
@media screen and (min-width:320px) and (max-width:1024px) {
    section {
        display: flex;
    }

    #home .icon-type {
        display: none;
    }

    .img-sec {
        display: none;
    }
}

@media screen and (max-width:50em) {}